.sportImage {
  width: 20vh;
  font-size: 20px; }

.sportDescriptionContainer {
  text-align: center;
  height: 30vh;
  width: 50vh;
  align-self: bottom; }
  .sportDescriptionContainer :hover {
    cursor: pointer; }
