.sportTitle {
    text-align: center;
}

.sportImage {
    font-size: 20px;
}

.sportDescriptionContainer {
    height: 30vh;
    width: 50vh;
    :hover {
        cursor: pointer;
    }
}

#basketballer {
    width: 22%;
}

#basketballer-container {
    position: absolute;
    top: 33%;
    right: 0;
}

#korfballer-container {
    position: absolute;
    top: 30%;
}

#volleyballer {
    margin-top: 10%;
    margin-right: 25%;
}

#volleyballer-container {
    position: absolute;
    top: 30%;
    left: 5%;
}

#aquagymmer,
#zwemmer,
#vrijzwemmer {
    margin-top: 10% !important;
    width: 70%;
}

#aquagymmer {
    width: 65%;
}
