.sportzaal {
    height: 100vh;
    background-color: #4fb4a6;
}

.weiland {
    height: 100vh;
    background-color: yellowgreen;
}

.zwembad {
    height: 100vh;
    background: url(assets/zwembad.svg) no-repeat center center fixed;
    background-size: cover;
}

#options {
    height: 100vh;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-around;
    align-content: bottom;
}

.filler {
    width: 100vh;
    height: 55vh;
}