.default {
  background-color: deepskyblue; }

.sportzaal {
  height: 100vh;
  background: url(assets/sportzaal.svg) no-repeat center center fixed;
  background-size: cover; }

.sportveld {
  height: 100vh;
  background: url(assets/sportveld.svg) no-repeat center center fixed;
  background-size: cover; }

.weiland {
  height: 100vh;
  background: url(assets/alleengeenbalbuitenachtergrond.svg) no-repeat center center fixed;
  background-size: cover; }

.zwembad {
  height: 100vh;
  background: url(assets/zwembad.svg) no-repeat center center fixed;
  background-size: cover; }

.gymzaal-alleen {
  height: 100vh;
  background: url(assets/gymzaal-alleen.svg) no-repeat center center fixed;
  background-size: cover; }

.gymzaal-samen {
  height: 100vh;
  background: url(assets/gymzaal-samen.svg) no-repeat center center fixed;
  background-size: cover; }

#help-audio {
  position: absolute;
  top: 1%;
  left: 1%; }

#options {
  width: 60%;
  margin-top: -5%;
  margin-left: 20%;
  display: flex;
  justify-content: space-around; }

.filler {
  width: 100vh;
  height: 45vh; }
