.door {
    position: relative;
    width: 30%;
    padding-top: 10px;
    .door-title {
        text-align: center;
        padding: 20px;
    }
    .alignDoorBottom {
        position: absolute;
        width: 100%;
        bottom: 0;

        .doorDiv {
            position: relative;
            bottom: 0;
            cursor: pointer;

            .doorBackgroundImg {
                position: absolute;
                z-index: 1;
                bottom:0;
                margin-bottom: -16%;
            }

            .doorForegroundImg {
                position: absolute;
                width: 63%;
                bottom: 0;
                margin-left: 18%;
            }
        }
    }

    > .doorImg {
        height: 50vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        cursor: pointer;
        margin-bottom: -15%;
        z-index: 4;
        > img {
            margin-bottom: 15%;
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 0;
        }
    }
}
