#wall {
    width: 100%;
    height: 70vh;
    background: #ffffdd;

    position: relative;
}

#floor {
    width: 100%;
    height: 30vh;
    background: #dfc2a4;

    z-index: -1;
    position: relative;
}

#doors {
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

#help-audio {
    float: left;
    margin: 10px;
}

#assets {
    .left {
        width: 25%;
        margin-left: 20%;
        margin-top: -15%;
        position: absolute;
        z-index: 1;
    }
    .right {
        width: 25%;
        margin-left: 60%;
        margin-top: -15%;
        position: absolute;
        z-index: 1;
    }

}
