#wall {
    width: 100%;
    height: 70vh;
    background: #ffffdd;
}

#floor {
    width: 100%;
    height: 30vh;
    background: #dfc2a4;
}

#doors {
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

#help-audio {
  float: left;
  margin: 10px;
}
