#login {
  height: 100vh;
  background: url("./assets/startscherm.svg") no-repeat center center fixed;
  background-size: cover; }
  #login > h1 {
    text-align: center;
    font-size: 4em; }

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh; }

#start-button {
  width: 200px;
  height: 80px;
  margin-top: 5vh; }
  #start-button :hover {
    cursor: pointer; }
